/* 
样式模板
复杂样式需自定义

本样式不允许自定义以及修改任何元素 font-size
*/
/* 分页 */
.page-serial-css {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
.page-serial-css .page-wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
}
/*需求改变 可以修改公共样式 */
.page-serial-css .page-equal {
  flex: none;
  text-align: center;
  color: #535353;
  height: 2.2em;
  line-height: 2.2em;
  min-width: 2.2em;
  padding: 0 5px;
  margin: 0 0.3em;
  font-weight: 500;
  cursor: pointer;
  border: #efefef solid 1px;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #efefef;
}
.page-serial-css .page-equal:hover {
  /* background-color: #FF8200; */
  /* background-color: #409EFF; */
  color: #409eff;
}
.page-serial-css .page-prev,
.page-serial-css .page-next {
  width: 5.5em;
}
.page-serial-css .page-num {
  /* 默认隐藏所有页标 */
  display: none;
}
.page-serial-css .page-disabled,
.page-serial-css .page-disabled:hover {
  background-color: #efefef;
}
.page-serial-css .page-active {
  /* background-color: #FF8200; */
  background-color: #409eff;
  color: white;
}
.page-serial-css .page-active:hover {
  color: white;
}
.page-serial-css .page-skip-text {
  border-color: transparent;
  box-shadow: 0 0 0 0 #FFF;
}
.page-serial-css .page-skip-input {
  width: 2.2em;
  vertical-align: middle;
  overflow: hidden;
}
.page-serial-css .page-skip-input .page-skip-enter {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.page-serial-css .page-skip-text:hover {
  color: #409eff;
}
.page-serial-css .page-skip-input .page-skip-enter:hover {
  border-color: #409eff;
}
.page-serial-css .page-skip-input .page-skip-enter:focus {
  border-color: #409eff;
}
.page-serial-css .page-skip-hidden {
  display: none;
}
.page-serial-css .page-pages-text {
  border-color: transparent;
  box-shadow: 0 0 0 0 #FFF;
  min-width: auto;
  padding: 0;
}
.page-serial-css .page-pages-text:nth-of-type(3) {
  margin-right: 0.9em;
}
.page-serial-css .page-pages-text:hover {
  color: #409eff;
}
/* 清除默认样式 */
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
input {
  outline: none;
  font-size: inherit;
  box-sizing: border-box;
  border: none;
}
li {
  box-sizing: border-box;
}
